.depoimentos {
    background-color: #dd3f3f;
    background-image: url('../../imagens/img/cabecalho-pagina-bg.jpg');
    background-attachment: fixed;
    color: #fff;
    padding: 30px 0;
}

.depoimentos__item {
    padding: 0 15px;
}

.depoimentos__img {
    margin: 0 auto;
    display: block;
    box-shadow: 3px 3px 0 #000;
    margin-bottom: 30px;
}

.depoimentos__pessoa {
    font-weight: bold;
    text-align: center;
    font-style: italic;
}

.depoimentos__texto {
    line-height: 24px;
    margin-bottom: 30px;
}

.depoimentos__texto::before {
    content: '';
    background: url('../../imagens/img/aspas.png') no-repeat;
    display: inline-block;
    width: 25px;
    height: 23px;
    margin-right: 5px;
}