.menu-principa__btn {
    display: block;
    width: 50px;
    height: 50px;
    text-indent: -9999px;
    background-color: $cor-branca;
    background-image: url('../../imagens/img/menuprincipal-btn-bg.png');
    background-repeat: no-repeat;
    background-position: 5px 5px;
    border-color: #c4c4c4;
    border-style: solid;
    border-radius: 5px;
    cursor: pointer; 
    position: absolute;
    top: 15px;
    right: 15px;
    @media(min-width: $breakpoint-md) {
        display: none;
    }
  }
  
  .menu-principa__btn--fechar {
      background-position: -48px 7px;
  }
  
  .menu-principal__lista {
      padding: 0;
      list-style: none;
      @media(min-width: $breakpoint-md) {
        li {
            display: inline-block;
            margin: 0 10px;
        }
      }
  }
  
  .menu-principal__item {
      text-decoration: none;
      display: block;
      font-weight: bold;
      margin-bottom: 10px;
      font-size: 1.1em;
      color: #343434;
  }
  
  .menu-principal__item--atual {
      color: $cor-principal;
  }