.cabecalho-home {
    background: url('../../imagens/img/cabecalho-home-bg.jpg') #000 no-repeat;
    background-size: cover;
    text-align: center;
    color: $cor-branca;
    padding: 50px 0;
}
.cabecalho-home__titulo {
    font-weight: bold;
    font-size: 2.2em;
    margin-bottom: 0px;
}
.cabecalho-home__role {
    display: none;
}

.home__titulo {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.home__titulo::after {
    content: '';
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    width: 50px;
    height: 3px;
    background-color: $cor-principal;
}

.home__titulo--branco::after{
    background-color: $cor-branca;
}