.cabecalho-home {
    background: url('../../imagens/img/cabecalho-home-bg.jpg') #000 no-repeat;
    background-size: cover;
    text-align: center;
    color: $cor-branca;
    padding: 50px 0;
    padding-top: 150px;
    @media(min-width: $breakpoint-md) {
        background-image: url('../../imagens/img/cabecalho-home-bg-md.jpg');
    }
    @media(min-width: $breakpoint-lg) {
        height: 100vh;
        .cabecalho-home__titulo{
            font-size: 60px;
            margin-top: 10%;
        }
        .cabecalho-home__subtitulo{
            font-size: 22px;   
        }
        .cabecalho-home__role {
            display: block;
            position: absolute;
            background: url('../../imagens/img/icone-mouse.png') no-repeat center right;
            color: $cor-branca;
            left: 50%;
            bottom: 10px;
            height: 50px;
            width: 190px;
            text-align: left;
            font-size: 20px;
            line-height: 45px;
            text-decoration: none;
            margin-left: -95px;
        }
    }
    @media(min-width: $breakpoint-xl) {
        background-image: url('../../imagens/img/cabecalho-home-bg-xl.jpg');
    }
}

.cabecalho-home__titulo {
    font-weight: bold;
    font-size: 2.2em;
    margin-bottom: 0px;
}
.cabecalho-home__role {
    display: none;
}

.home__titulo {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
    margin-top: 40px;
}

.home__titulo::after {
    content: '';
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    width: 50px;
    height: 3px;
    background-color: $cor-principal;
}

.home__titulo--branco::after{
    background-color: $cor-branca;
}